/* Kodet af Tobias */

.filter-wrapper {
    width: 100%;
}

.filter-sort-wrapper {
    display: flex;
    background-color: var(--white);
    width: 100%;
    height: 60px;
    position: relative;
}

.filter-sort-wrapper button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: italic;
}

.sort {
    border-right: 1px solid var(--navy);
    transition: 0.2s ease-in-out;
}

.filter-sort-wrapper .sort,
.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 0 20px;
    border-bottom: 1px solid var(--navy);
    border-top: 1px solid var(--navy);
}

.sort section,
.filter section {
    padding-top: 20px;
    font-size: 20px;
    font-style: italic;
    width: 100%;
    position: absolute;
    top: 60px;
    /* left: calc(50% - 45%); */
    left: 0;
    background-color: var(--white);
    height: 100vh;
}

.sort section div {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
}

.filter section div {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
}

.sort section div {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.categories-wrapper {
    display: flex;
    justify-content: space-around;
    height: 100px;
    gap: 20px;
}

.categories-wrapper img {
    width: 60px;
}

.size-wrapper {
    display: flex;
    gap: 20px;
}

.size-wrapper div {
    display: flex;
    justify-content: center;
}

.size-wrapper p {
    padding: 0;
    font-style: normal;
    font-size: 16px;
}

.sizeLitre {
    font-size: 10px;
    font-style: italic;
    color: rgb(175, 175, 175);
}



.color-cont {
    overflow: auto;
    white-space: nowrap;
}

.color-cont .color-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.color-cont::-webkit-scrollbar {
    display: none;
}

.color-cont .color-box input {
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    opacity: 0;
}

.small-text{
    font-size: 12px;
    color: rgb(168, 154, 154);
    margin: 0 0 10px 15px;
}




/* Custom styles for the price range slider */
.price-range-slider {
    width: 100%;
    position: relative;
  }
  
  input[type="range"] {
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--navy);
    outline: none;
    border-radius: 20px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--greenPrime);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-value {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .min-value {
    flex: 1;
  }
  
  .max-value {
    flex: 1;
    text-align: right;
  }
  .filterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .applyBtn {
    text-decoration: none;
    border-radius: 20px 0 0 20px;
    color: white;
    background-color: var(--greenPrime);
    border: solid var(--greenPrime);
    padding: 10px;
    font-size: 1rem;
  }
  .clearBtn {
    text-decoration: none;
    border-radius: 0 20px 20px 0;
    border: solid var(--greenPrime);
    padding: 10px;
    font-size: 1rem;
    color: black;
  }
  