
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.postformLabel {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.postformSelect {
    margin: 0.1em auto 1em;
    width: 100%; /* Set input width to 95% */
    max-width: 350px;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    border: #72CA81 2px solid;
    color: grey;
}

.postformInput {
    margin: 0.5em auto 2em;
    width: 100%; /* Set input width to 95% */
    max-width: 350px;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    border-radius: 5px;
    border: #72CA81 1px solid;
    background-color: var(--white);
}


.input-container {
    margin: 0.2em auto;
    width: 85%; 
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.input-notice {
    margin: 0.5em auto;
    width: 85%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align the text to the top */
}

.input-notice textarea {
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    border: #72CA81 1px solid;
    height: 100px;
    background-color: var(--white);
    
}
.input-container label {
    text-align: left;
    margin-bottom: 2px;
}

.input-container select,
.input-container input {
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
    border: #72CA81 1px solid;
    background-color: var(--white);
}
.image-preview {
    max-width: 346px;
    height: 150px;
    margin: 0.5em auto;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid var(--greenPrime);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mascotChooseImg{
    position: absolute;
    right: -90px;
    width: 250px;
    rotate: -30deg;
    top: 10px;
}

.planeChooseImg{
    position: absolute;
    width: 180px;
    left: -70px;
    top: -10px;
 
}

form .file-input {
    display: none;
}

.postformWrapper {
    margin: auto;
    text-align: left;
    width: 100%;
    text-align: left;
    
}


.postformH1 {
   
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.color-wrapper{
    width: 85%;
    margin: 0 auto;
}

.color-container {
    width: 100%;
    height: 100%;
    overflow-x: scroll; /* Use "scroll" to enable horizontal scrolling */
    -webkit-overflow-scrolling: touch;
    margin: 20px auto 10px auto;
    display: flex; /* Add this property */
    flex-direction: column;
}

.color-container::-webkit-scrollbar {
    display: none;
  }

.color-inputs {
    display: flex;
    overflow-x: scroll; /* Use "scroll" to enable horizontal scrolling */
    -webkit-overflow-scrolling: touch;
    width: 160%;
    align-items: center;
    height: 40px;
}

.color-inputs::-webkit-scrollbar {
    display: none;
  }




.color-box {
    width: 30px; /* Increase the width to make the circles wider */
    height: 30px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    text-align: center;
    line-height: 100px; /* Adjust line-height as needed */
    font-weight: bold;
    color: white;
    border-radius: 50%; /* Makes the inputs circular */
    cursor: pointer;
    transition: transform 0.2s;
}


.color-box:hover {
    filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.4)); /* Adjust the opacity value (0.5 in this case) */
    transition: 0.2s ease-in;

}

/* Apply the same provided color styles */
.color-black {
    background-color: #000000;
}

.color-white {
    background-color: white;
    border: 1px solid black;
    
}

.color-gray {
    background-color: #C1C1C1;
}

.color-red {
    background-color: #FF5757;
 
}

.color-orange {
    background-color: #FFB23F;
    
}

.color-yellow {
    background-color: #FFE34E;
}

.color-pink {
    background-color: pink;
}

.color-cyan {
    background-color: cyan;
}

.color-brown {
    background-color: brown;
}

.color-blue {
    background-color: blue;
}

.color-inputs input {
    display: none;
    visibility: hidden;
}



.text {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    text-align: left;
    
}

.text-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    color: gray;
}

.text-h2 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 100;
    
}

.text-p {
    text-align: left;
    font-size: 15px;
    font-weight: 200;
}

.botton-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px
}

.postformHr {
    margin: 25px;
}

.component-title {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #888;
    text-align: center;
  }

  /* The switch - the box around the slider */
  .container {
    width: 51px;
    height: 31px;
    position: relative;
  }
  
  /* Hide default HTML checkbox */
  .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
  }
  
  .switch {
    height: 100%;
    display: block;
    background-color: #e9e9eb;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  .toggle-switch {
    position: relative;
    display: flex; /* Change display to flex */
    align-items: center; /* Vertically center items */
    width: 200px; /* Adjust the width as needed */
    margin: 10px;
}

.toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: #2196F3;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.toggle-switch .toggle-input:checked + .toggle-label {
    background-color: #4CAF50;
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
    transform: translateX(16px);
}

/* Light theme */
.toggle-switch.light .toggle-label {
    background-color: #BEBEBE;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
    background-color: #9B9B9B;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
    transform: translateX(6px);
}

/* Dark theme */
.toggle-switch.dark .toggle-label {
    background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
    background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
    transform: translateX(16px);
}

/* Style for the <p> tag */
.toggle-switch p {
    margin-left: 10px; /* Adjust the margin as needed */
}
  

.postformButton {
    background-color: #72CA81;
    border: none;
    border-radius: 20px;
    color: #000000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 16px;
    font-size: bold;
}

.text-error {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: red;
}

.uploaded-image {
    width: 350px;
    height: 100%;
    object-fit: contain;    
    display: flex;
}

.added-pic {
    display: flex;
    justify-content: center;
    font-weight: bold;
}