/* Kodet af mads */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categoryOptionWrapper img{
    width: 200px;;
}

.categoryOptionWrapper {
display: flex;
flex-direction: column;
align-items: center;;
}

.chooseCategoryMain {
    gap: 30px;
}

.chooseCategoryMain h2 {
    font-size: 2rem;
}

.chooseCategoryMain p {
    text-decoration: underline;
    padding-bottom: 20px;
}