*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --greenPrime: #72CA81;
    --greenSec: #C4EECB;
    --greenAccent: #389446;
    --white: #FAFAFF;
    --navy: #031926;
}

/* Add a class to change the background color to green and round corners */
.toggle-button.active {
    background-color: var(--greenPrime);
    color: white; /* Text color for the active button */
   
  }

  .toggle-button:not(.active) {
    background-color: var(--white);
    color: var(--navy); 
  }
  

  .btn-group button {
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    border: 1px solid var(--greenPrime);
    width: 100px;
  }

  .btn-group button:nth-child(1){
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
   
  }

  .btn-group button:nth-child(2){
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
   
  }
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }

  .request-con {
    margin-top: 20px;
    font-style: italic;
  }

  .my-deals h2 {
    font-size: 20px;
  }
  .suitcase-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    gap: 130px;
    font-size: 14px;
  }

  .swap-img {
    object-fit: cover;
    display: flex;
    width: 290px;
  }

  .info-text {
    display: flex;
    justify-content: flex-end;
    color: #828A8D;
    font-size: 12px;
    text-decoration: underline;
  }

  .current-deals-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: #72CA81 1px solid;
    border-radius: 10px;
    width: 80%;
    padding: 10px 0px 0px 0px;
    
  }

  .current-deals-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
  }

  .current-p {
    font-size: 12px;
  }
  .mascot-deals {
    width: 100px;
    height: 100px;
  }


