* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arrowWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rentPeriodWrapper, .productInfoWrapper {
    display: flex;
    width: 100%;
}

.rentPeriodWrapper{
    flex-direction: column;
    position: relative;
}

.rentPeriodWrapper img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px 0 0 100px;  
}

.rentPeriodImgWrapper{
    position: absolute;
    right: calc(0% - 80px);
    top: -125px;
}

.sendRequestMain {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.sendRequestWrapper{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.periodInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.periodInfoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.periodInfoText div{
    display: flex;
    justify-content: space-between;
}

.periodInfoText div span{
    width: 200px;
}

.productInfoWrapper {
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
    
}

.productInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productInfo div {
    display: flex;
    justify-content: space-between;

}

.productInfo div p{
    width: 175px;
}

.requestBtn {
    padding: 5px;
    width: 65%;
    font-size: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requestBtn span {
    display: flex;
}

.requestTextArea {
    padding: 1em;
  box-sizing: border-box;
  border-radius: 5px;
  border: #72CA81 1px solid;
  height: 150px;
  background-color: var(--white);
  font-size: 15px;
}

.dateRangePicker.show {
    transition: 0.6s;
    height: 319px;
    overflow: hidden;
}

.dateRangePicker {
    transition: 0.6s;
    height: 319px;
    overflow: hidden;
    height: 0px;
    overflow: hidden;
}

.dateError {
    color: red;
    font-size: 0.8rem;
    position: relative;
    top: -25px;
}

.suitcaseSubmitted {
    color: var(--greenPrime);
}


