* {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Poppins', sans-serif;
}

:root {
    --greenPrime: #72CA81;
    --greenSec: #C4EECB;
    --greenAccent: #389446;
    --white: #FAFAFF;
    --navy: #031926;
}

